body{
    
    background: url(https://66.media.tumblr.com/b3b98a2f6a76cc61e03b6db7f1e39edb/tumblr_pbtl6dv9Qc1rt6jeso2_500.jpg);
    background-repeat: repeat-x;

}
/* the same with color */
div{
    background: yellowgreen;
    border-color: whitesmoke;
    border-width: 3px; /*3 pixel or youcan just use thick and thin*/
    border-style: dashed;

}

/* just all paragraph element */
p{
    color: red;
}

span{
    background: red;
    color: yellow;
}