/* comment */
/* a bunch of way to do color */
h1 {
    color: burlywood;
}

li{
    color: rgb(8, 84, 140)
}

p{
    color: #0894af
}

/* alpha for transparency from 0 - 1 */
h4{
    color: rgba(45, 42, 30, 0.5)
}