.jumbo{
    width: 70%;
    margin: auto;
}

/* #restart{
    background-color:#2d5ba6;
    border-radius: 15%;
    color: white;
    padding: 5px 7px;
    margin-top: 1em;
} */

table{
    margin: auto;
    margin-top: 20px;
}

td{
    border: 2px solid black;
    height:180px;
    width: 180px;
    text-align: center;
    font-size: 100px;
    padding: 0px 20px 20px 20px;
}